footer 
  .container
    .row
      .col-sm-6
        ul.list-inline
          li
            i.icon-facebook.icon-2x
          li
            i.icon-twitter.icon-2x
          li
            i.icon-google-plus.icon-2x
          li
            i.icon-pinterest.icon-2x
      .col-sm-6
        p.pull-right