#footer.container
  .row
    .col.col-sm-12
      h1 Follow Us
      |       
      .btn-group
        a.btn.btn-twitter.btn-lg(href='#')
          i.icon-twitter.icon-large
          |  Twitter
        | &#x9;   
        a.btn.btn-facebook.btn-lg(href='#')
          i.icon-facebook.icon-large
          |  Facebook
        | &#x9;   
        a.btn.btn-google-plus.btn-lg(href='#')
          i.icon-google-plus.icon-large
          |  Google+