.row
  br
  .col-md-2.col-sm-3.text-center
    a.story-title(href='#')
      
  .col-md-10.col-sm-9
    h3 Repurpose Content to Reach a Wider Audience
    .row
      .col-xs-9
        h4
          span.label.label-default 97thfloor.com
        h4
          small.text-muted(style="font-family:courier,'new courier';")
            | 2 hours ago  &bull; 
            a.text-muted(href='#') Read More
      .col-xs-3
    br
    br
hr
.row
  br
  .col-md-2.col-sm-3.text-center
    a.story-title(href='#')
      
  .col-md-10.col-sm-9
    h3 14 Useful Sites for Designers
    .row
      .col-xs-9
        h4
          span.label.label-default devgarage.com
        h4
          small.text-muted(style="font-family:courier,'new courier';")
            | Yesterday &bull; 
            a.text-muted(href='/') Read More
      .col-xs-3
    br
    br
hr
.row
  br
  .col-md-2.col-sm-3.text-center
    a.story-title(href='#')
      
  .col-md-10.col-sm-9
    h3 Measuring Your Link Building with Google Analytics
    .row
      .col-xs-9
        h4
          span.label.label-default searchenginewatch.com
        h4
          small.text-muted(style="font-family:courier,'new courier';")
            | Yesterday &bull; 
            a.text-muted(href='#') Read More
      .col-xs-3
    br
    br
hr